.container {
    margin: 10px;
    width: 80%;
}

.icon {
    font-size: 20px;
}

.icon:hover {
    font-size: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    font-weight: lighter;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}