.statContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chartContainer h3 {
    margin: 0px;
}

.rigthColumn {
    display: flex;
    flex-direction: column;
}
