.popoverContainer button {
    margin: 2px;
}

.editContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editContainer input {
    margin: 2px;
    width: 90%;
}

.icon {
    font-size: 30px;
}